.g-padding-y-100--xs {
  padding-bottom: 1.25rem;
}
.s-promo-block-v1__square-effect:after {
  z-index: 1;
  border-color: rgba(3,169,244,.5);
}
.colored-rule-right,
.colored-rule-left,
.colored-rule-center {
  margin: 0;
  width: 1px;
  border-top: 1px solid #03a9f4;
}

.colored-rule-right {
  float: right;
}
.colored-rule-left {
  float: left;
}
.colored-rule-center {
  margin: 0 auto;
}
.half-padding {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.cf {
  overflow: hidden;
}

.cf:before,
.cf:after {
  content:"";
  display:table;
  line-height:0;
}
.cf:after {
  clear: both;
}
