.g-padding-y-100--xs {
  padding-bottom: 1.25rem;
}
.s-promo-block-v1__square-effect:after {
  z-index: 1;
  border-color: rgba(3,169,244,.5);
}
.colored-rule {
  float: right;
  margin: 0;
  border-top: 1px solid #03a9f4;
  transform-origin:50% 100%;
  -ms-transform-origin:50% 100%; /* IE 9 */
  -webkit-transform-origin:50% 100%; /* Chrome, Safari, Opera */
}
