.topbar {
  background-color: #4c4c4c;
}
.navbar {
  background-color: #353535;
  border: 0;
  border-radius: 0;
}
.navbar-brand {
  height: auto;
}

@media (min-width:480px){}
@media (max-width:767px){}
@media (min-width:768px){}
@media screen and (min-width:768px){}
@media (min-width:768px) and (max-width:991px){}
@media (min-width:992px){}
@media (min-width:992px) and (max-width:1199px){}
@media (min-width:1200px){}
@media screen and (-webkit-min-device-pixel-ratio:0){}
@media all and (transform-3d),(-webkit-transform-3d){}
@media print{}